@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
	background-color: #000000;
	font-family: 'Mulish', 'DM Sans', sans-serif;
	font-weight: 600;
	color: #dadada;
	/* display: flex;
	justify-content: center;
	align-items: center; */
}

.main {
	margin: 0 auto;
	/* display: flex;
	justify-content: center;
	align-items: center; */ 
	text-align: left;
	max-width: 70ch;
}

/*

.introduction {
	margin-top: 6rem;
}


.links {
	margin-top: 6rem;
}

.experience {
	margin-top: 6rem;
} */

.back-button {
	color: #1e40af;
	background-color: #2563eb33;
	text-decoration: none;
	border-radius: 4px;
	padding: 0.25rem;
	font-weight: 700px;
	margin-top: 30rem;
}
  

h1 {
	font-size: 3.2rem;
	text-shadow: 1px 1px #000000 2px;
	font-family: 'DM Sans';
}

p {
	margin-top: -1rem;
	font-size: 1.25rem;
}

/* navbar stuff
.navbar {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.navbar a {
	padding: .25rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: -2rem;
	margin-top: 3rem;
	font-size: 1.1rem;
} */

a {
	color: #a2beff;
	text-decoration: none;
}

a:hover {
	color: #a2beee;
	text-decoration: underline;
}

a:active {
	color: #a2beee;
	text-decoration: underline;
}

a:visited {
	color: #91abd9;
	text-decoration: none;
}